.bg-cloud{
  background-color: $base;
  background-image: url("./../../images/sail.jpg");
  background-size: cover;
  color: #444;
  font-family: $font-open;
  background-repeat: no-repeat;
  min-height: 100vh;
}
