//Base 
.prompt,
.prompt__overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.prompt {
  position: fixed;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10;
}


.prompt__overlay {
  position: absolute;
  z-index: 1;
  background: rgba(55, 58, 71, 0.9);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
}

.prompt--open .prompt__overlay {
  opacity: 1;
  pointer-events: auto;
}

.prompt__content {
  width: 50%;
  max-width: 560px;
  min-width: 290px;
  background: #fff;
  padding: 4em;
  text-align: center;
  position: relative;
  z-index: 5;
  opacity: 0;
}

.prompt--open .prompt__content {
  pointer-events: auto;
}

/* Content */
.prompt h4 {
  font-size: 1.2rem;
}

//Specific effect 

.prompt {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.prompt.prompt--open .prompt__content,
.prompt.prompt--close .prompt__content {
  opacity: 1;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.prompt.prompt--open .prompt__content {
  -webkit-animation-name: anim-open;
  animation-name: anim-open;
}

.prompt.prompt--close .prompt__content {
  -webkit-animation-name: anim-close;
  animation-name: anim-close;
}

.prompt.prompt--open h4,
.prompt.prompt--open button {
  -webkit-animation: anim-elem 0.3s both;
  animation: anim-elem 0.3s both;
}

.prompt.prompt--open h4 {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.prompt.prompt--open button {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}

@-webkit-keyframes anim-open {
  0% { -webkit-transform: translate3d(0, -100%, 0); }
  100% { -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-open {
  0% { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
  100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}

@-webkit-keyframes anim-close {
  0% { -webkit-transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(0, -100%, 0); }
}

@keyframes anim-close {
  0% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
  100% { -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); }
}

/* Inner elements animations */

@-webkit-keyframes anim-elem {
  0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); }
}

@keyframes anim-elem {
  0% { opacity: 0; -webkit-transform: translate3d(0, -100px, 0); transform: translate3d(0, -100px, 0); }
  100% { opacity: 1; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
}


//Button 
.btn-3{
  margin: .5rem auto;
}
.rsvp1 .btn-1, .rsvp2 .btn-2, .rsvp3 .btn-3{
  color: #fff;
  border-color: #fff;
  background: $dark-green;
}
/* Common button styles */
.button {
  width: 150px;
  display: inline-block;
  margin: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  color: $dark-green;
  border-color: $dark-green;
  border: 3px solid #fff;
}
.button:focus {
  outline: none;
}

.button--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #37474f;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak,
.button--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover{
  color: #fff;
  border-color: #fff;
}
.button--ujarak:hover::before
 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
