@import url(https://fonts.googleapis.com/css?family=Courgette);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$base: #D4E4EB;
$dark-green: #37474f;
$mid-night-blue: #354b60;
$sm: 40em;
$md: 52em;
$lg: 64em;
$font-cursive: 'Courgette', cursive;
$font-open: 'Open Sans', sans-serif;
