<section class="head">
  <h1> {{intro}} to Jeremy's 40th Party!</h1>
</section>
<section class="main">
<div class="rsvp-group list-reset" ng-class="setClass()" >
<div>
<button class="btn btn-1 m1 btn-outline" ng-click="takeAction(1)" >RSVP</button>
<button class="btn btn-2 m1 btn-outline" ng-click="takeAction(2)" >Decline</button>
</div>
<div>
<button class="btn btn-3 m1 btn-outline block" ng-click="takeAction(3)" >Decide Later</button>
</div>
</div>
<div class="info">
  <div><label>location:</label> Some location </div>
  <div><label>Date and time</label><time datetime="2015-11-14 12:00">14th Nov, 2015</time></div>
</section>
</div>
<aside class="prompt {{promptClass}}">
  <div class="prompt__overlay"></div>
  <div class="prompt__content">
    <h2>{{prompt}}</h2>
    <button class="btn" ng-click="setPromptClass('prompt--close')">Close</button></div>
  </div>
</aside>
